<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alteredworlds.buddyfied">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>

        <provider
            android:name=".data.BuddyfiedProvider"
            android:authorities="com.alteredworlds.buddyfied" />

        <service
            android:name=".service.StaticDataService"
            android:authorities="com.alteredworlds.buddyfied" />
        <service
            android:name=".service.BuddyQueryService"
            android:authorities="com.alteredworlds.buddyfied" />
        <service
            android:name=".service.BuddySearchService"
            android:authorities="com.alteredworlds.buddyfied" />

        <activity
            android:name=".AttributePickerActivity"
            android:label="@string/title_activity_attribute_picker"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alteredworlds.buddyfied.MainActivity" />
        </activity>
        <activity
            android:name=".BuddyActivity"
            android:label="@string/title_activity_buddy"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alteredworlds.buddyfied.MainActivity" />
        </activity>
        <activity
            android:name=".MessageUserActivity"
            android:label="@string/title_activity_message_user"
            android:parentActivityName=".BuddyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alteredworlds.buddyfied.BuddyActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
